/* fix */
.p-husen__cross{color: inherit;}

.p-husen{
    border-width: 3px;
}

/* theme */
.theme-husen--one {
    background: url(../../images/socks.png)  no-repeat 50% 50%;
    background-size: 80%;
}
.theme-husen--one:hover,
.theme-husen--two:hover,
.theme-husen--three:hover,
.theme-husen--four:hover{background: none;}


.theme-husen--two {
    color: #0fbd8b;
    border-color: #0fbd8b;
    background: url(../../images/ball.png)  no-repeat 50% 50%;
    background-size: 80%;
}
.theme-husen--three {
    color: #e7755e;
    border-color: #e7755e;
    background: url(../../images/bell.png)  no-repeat 50% 50%;
    background-size: 80%;
}
.theme-husen--four {
    color: #f99b42;
    border-color: #f99b42;
    background: url(../../images/present.png)  no-repeat 50% 50%;
    background-size: 80%;
}
.theme-husen--five {
    color: #7f9ebc;
    border-color: #7f9ebc;
    background: url(../../images/present.png)  no-repeat 50% 50%;
    background-size: 80%;
}
.theme-husen--six {
    color: #f78ba7;
    border-color: #f78ba7;
    background: url(../../images/present.png)  no-repeat 50% 50%;
    background-size: 80%;
}

/*.theme-colorlist__item--one{background: url(../../images/present.png) no-repeat 50% 50%;background-size: 40px;}
.theme-colorlist__item--one.is-active{background-size: contain;}
.theme-colorlist__item--two{border-color: #0fbd8b;}
.theme-colorlist__item--two.is-active{background-color: #0fbd8b}
.theme-colorlist__item--three{border-color: #e7755e}
.theme-colorlist__item--three.is-active{background-color: #e7755e}
.theme-colorlist__item--four{border-color: #f99b42}
.theme-colorlist__item--four.is-active{background-color: #f99b42}
.theme-colorlist__item--five{border-color: #7f9ebc}
.theme-colorlist__item--five.is-active{background-color: #7f9ebc}
.theme-colorlist__item--six{border-color: #f78ba7}
.theme-colorlist__item--six.is-active{background-color: #f78ba7}*/

.theme-colorlist__item--one{background: url(../../images/socks.png) no-repeat 50% 50%;background-size: 60px;}
.theme-colorlist__item--one.is-active{background-size: contain;}
.theme-colorlist__item--two{background:  url(../../images/ball.png) no-repeat 50% 50%;background-size: 60px;}
.theme-colorlist__item--two.is-active{background-size: contain;}
.theme-colorlist__item--three{background:  url(../../images/bell.png) no-repeat 50% 50%;background-size: 60px}
.theme-colorlist__item--three.is-active{background-size: contain;}
.theme-colorlist__item--four{background:  url(../../images/present.png) no-repeat 50% 50%;background-size: 60px}
.theme-colorlist__item--four.is-active{background-size: contain;}
.theme-colorlist__item--five{background:  url(../../images/present.png) no-repeat 50% 50%;background-size: 60px}
.theme-colorlist__item--five.is-active{background-color: #7f9ebc}
.theme-colorlist__item--six{background:  url(../../images/present.png) no-repeat 50% 50%;background-size: 60px}
.theme-colorlist__item--six.is-active{background-color: #f78ba7}



.theme-colorlist__item--one,
.theme-colorlist__item--two,
.theme-colorlist__item--three,
.theme-colorlist__item--four,
.husen-text  {
-moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}

.theme-colorlist__item--one:hover,
.theme-colorlist__item--two:hover,
.theme-colorlist__item--three:hover,
.theme-colorlist__item--four:hover {
 -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}